.instruction h1{
	text-align: center;
	color: white;
	font-size: 30px;
}

p{
	color: white;
	padding: 10px 40px;
	font-size: 12px;
}
.title h1{
	padding-top: 10px;
	text-align: center;
	color: white;
	font-size: 40px;
}
.gifs{
	align-content: center;
	height: 200px;
	width: 400px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
}

.sections{
	padding-top: 10px;
}

/*.sections{
	overflow: hidden;
}

.scroll{
	overflow: scroll;
}*/