.titles{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    max-width: none;
    font-size: 13px;
}

.titles tr th{
    padding-left: 15px;
    padding-right: 15px;
}

.titles tr{
    margin-left: 15%;
}