

.container{
}

.generic_info{
   display: flex;
   margin-left: 15%;
}

.generic_info section{
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: 80%;
   box-sizing: border-box;
   margin-top: 1rem;
   margin-left: 0;
   /*
   background: rgb(59,22,199);
   background: linear-gradient(180deg, rgba(59,22,199,0.3) 0%, rgba(67,37,120,0.5) 100%);
   */
   text-align: center;
   /*border: 2px solid rgba(0,0,0,0.3);*/
   border-radius: 5px;
}

.generic_info section h3{
   padding-bottom: 5px;
   padding-top: 5px;
   margin-top: 1px;
   border-bottom: 5px solid white;
   color: white;
}

.generic_info section ul{
   font-size: 100%;
   text-align: left;
   list-style-type: none;
   padding-top: 20px;
   padding-left: 150px;
   padding-bottom: 0;
   margin-top: 1px;
   color: white;
}

.sections{
   display: flex;
   flex-wrap: wrap;
   flex-flow: row wrap;
   justify-content: space-evenly;
}

.sections section{
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: 30%;
   box-sizing: border-box;
   margin: 1rem 0;
   /*
   background: rgb(59,22,199);
   background: linear-gradient(180deg, rgba(59,22,199,0.3) 0%, rgba(67,37,120,0.5) 100%);
   */
   margin-top: 10%; 
   text-align: center;
   /*border: 2px solid rgba(0,0,0,0.3);*/
   border-radius: 5px;
}

.sections section ul{
   color: white;
}

.sections section h3{
   padding-bottom: 5px;
   padding-top: 5px;
   margin-top: 1px;
   border-bottom: 5px solid white;
   color: white;
}


.sections section ul li{
   text-align: center;
   margin: 0%;
   padding: 0;
   list-style: none;
}

#network_image{
   float: left; 
   padding-bottom: 10px;
   
}