.settings{
	padding: 15px 0px;
	text-align: center;
}
.settings h3{
	color: white;
}

.page-title{
	text-align: center;
}
.page-title h1{
	color: white;
}

.client-settings select{
	background: navajowhite;
	border: 2px solid black;
	height: 28px;
	width:150px;
}
.box{
	display: inline;
	background: navajowhite;
	border: 2px solid black;
	height: 30px;
	width: 30px;
}
.box span{
	position: absolute;
	padding-left: 15px;
	padding-top: 2px;
	font-size: 16px;
}

.removeValue{
	color: transparent;
}
input[type='file'] {
    width:150px;
    height:30px;
    opacity:0
}

.blur input[type="text"]{
	background: navajowhite;
	color: transparent;
	text-shadow: 0 0 5px #000;
	width: 400px;
}
.clear input[type="text"]{
	background: navajowhite;
	color: black;
	text-shadow: none;
	/*color: transparent;
	text-shadow: 0 0 5px #000;*/
	width: 400px;
}

.buttons button{
	width: 100px;
}

.color input[type="color"]{
	width: 400px;
	height: 75px;
}

.opacity input[type="range"]{
	width: 400px;
}

.clearButton{
	text-align: center;
}